<<<<<<< HEAD
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>
<h2>Comments</h2>
<div id="Comments">
<<<<<<< HEAD
	<%= render :partial => @post.comments.reverse %>
</div>
<%= form_for([@post, Comment.new], remote: true) do |f| %>
=======
	<% @post.comments.each do |comment| %>
	<%= div_for comment do %>
	<p>
		<strong>Posted <%= time_ago_in_words(comment.created_at) %></strong> <br />
		<%= h(comment.body) %>
	</p>
	<% end %>
	<% end %>
</div>
<%= form_for([@post, Comment.new]) do |f| %>
>>>>>>> f758568fa9873723cbf62d07b8c703a7425f8dcd
	<p><%= f.label :body, "new comment" %><br /> 
		<%= f.text_area :body %>
	</p>
	<p><%= f.submit "Add comment"%></p>
<% end -%>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
=======
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<h2>Comments</h2>
<div id="Comments">
	<% @post.Comments.each do |comment| %>
	<%= div_for comment do %>
	<p>
		<strong>Posted <%= time_ago_in_words(comment.created_at) %></strong> <br />
		<%= h(comment.body) %>
	</p>
	<% end %>
	<% end %>
</div>
<%= form_for([@post, Comment.new]) do |f| %>
	<p><%= f.label :body, "new comment" %><br /> 
		<%= f.text_area :body %>
	</p>
	<p><%= f.submit "Add comment"%></p>
<% end -%>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

>>>>>>> 73b5c45598951ff336ab49c0ec96f16fd1dd753f
